version: 2
registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    username: x-access-token
    password: ${{secrets.READER_TOKEN}}

updates:
  - package-ecosystem: npm
    directory: "/"
    registries:
      - npm-github
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    groups:
      prod-minor-deps:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
      dev-minor-deps:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
