version: 2
registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    username: x-access-token
    password: ${{secrets.READER_TOKEN}}

updates:
  - package-ecosystem: npm
    directory: "/app"
    registries:
      - npm-github
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    groups:
      deps:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
      devDeps:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: npm
    directory: "/server"
    registries:
      - npm-github
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    groups:
      deps:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
      devDeps:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
