name: "verify: app"

on:
  pull_request:
    branches:
      - "**"
    paths:
      - "app/**"
      - ".github/workflows/verify-app.yml"

defaults:
  run:
    working-directory: app

jobs:
  test:
    name: Run end to end tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # ratchet:actions/setup-node@v6
        with:
          node-version: "22"
          cache: "npm"
          registry-url: https://npm.pkg.github.com/
          scope: "@navikt"
          cache-dependency-path: app
      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # ratchet:actions/upload-artifact@v5
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
  verify:
    name: Verify there are no lint or typescript errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # ratchet:actions/setup-node@v6
        with:
          node-version: "22"
          cache: "npm"
          registry-url: https://npm.pkg.github.com/
          scope: "@navikt"
          cache-dependency-path: app
      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Run Knip
        run: npm run knip

      - name: Run ESLint
        run: npm run lint

      - name: Check for typescript errors
        run: npm run lint:tsc
